$preto_claro: rgb(5, 5, 5);
$laranja_padrao: rgb(255, 94, 0);
$laranja_mais_escuro: rgb(204, 75, 0);
$laranja_mais_escuro_ainda: rgb(180, 69, 5);
$preto_mais_claro: rgb(20, 20, 20);
$preto_mais_claro_ainda: rgb(37, 37, 37);
$laranja_mais_escuro_ainda_2: rgb(126, 51, 1);
.area-do-site {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, $preto_claro, $preto_mais_claro, $preto_mais_claro_ainda);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fade-in;
    animation-duration: 1s;
}

.area-de-login {
    width: 17vw;
    height: 40vh;
    background: linear-gradient($laranja_padrao, $laranja_mais_escuro, $laranja_mais_escuro_ainda, $laranja_mais_escuro_ainda_2);
    border-radius: 3px;
}

.form-group {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-do-logo {
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 12vw;
    margin-top: 7%;
    border: 2px solid $laranja_mais_escuro;
    border-radius: 33px;
    padding-left: 5%;
    outline: none;
    color: grey;
    font-size: 0.75vw;
}

#botao-entrar-login {
    background: transparent;
    height: 3.5vh;
    padding: 0.5 5%;
    width: 100%;
    font-size: 1vw;
    border-radius: 4px;
    border: 2px solid $laranja_mais_escuro;
    outline: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-entrar-login:hover {
    animation-name: botao-login-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.area-abaixo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
}

.area-do-meio {
    padding-top: 5%;
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-cadastro {
    font-size: 50%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto {
    font-size: 0.8vw;
    cursor: default;
}

.cadastro,
.esqueceu-senha {
    width: 100%;
    height: 70%;
    justify-content: center;
    display: flex;
}

.cadastro {
    font-size: 1vw;
}

.link {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

.esqueceu-senha {
    font-size: 0.7vw;
    height: fit-content;
    width: fit-content;
}

.area-do-botao {
    width: 50%;
    height: 100%;
    padding: 0 7%;
}

.animacao-site-2 {
    animation-name: fade-out;
    animation-duration: 1s;
}

.alerta-vermelho {
    color: rgb(145, 0, 0);
    font-size: 0.8vw;
}

.alerta {
    height: fit-content;
    width: fit-content;
    // padding-left: 10%;
}

.carregador ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $laranja_mais_escuro_ainda_2;
}

.carregador {
    padding-top: 7%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes botao-login-fade-in {
    to {
        background-color: $laranja_mais_escuro_ainda;
        font-size: 1.1vw;
        height: 4.2vh;
    }
}