$preto_claro: rgb(5, 5, 5);
$laranja_padrao: rgb(255, 94, 0);
$laranja_mais_escuro: rgb(204, 75, 0);
$laranja_mais_escuro_ainda: rgb(180, 69, 5);
$preto_mais_claro: rgb(20, 20, 20);
$preto_mais_claro_ainda: rgb(37, 37, 37);
$laranja_mais_escuro_ainda_2: rgb(126, 51, 1);

.site{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, $preto_claro, $preto_mais_claro, $preto_mais_claro_ainda);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: site-fade-in;
    animation-duration: 1s;
}

.area-de-cadastro{
    width: 23vw;
    height: 60vh;
    background: linear-gradient($laranja_padrao, $laranja_mais_escuro, $laranja_mais_escuro_ainda, $laranja_mais_escuro_ainda_2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-de-cadastro-trilha{
    width: 23vw;
    height: 60vh;
    background: linear-gradient($laranja_padrao, $laranja_mais_escuro, $laranja_mais_escuro_ainda, $laranja_mais_escuro_ainda_2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-do-logo{
    width: 100%;
    height: 10vh;
}
.form-group{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome, .sobrenome, .email, .senha,.confirm-senha{
    width: fit-content;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input{
    height: 100%;
    width: 20vw;
    padding-left: 2%;
    border: 1.5px solid $laranja_padrao;
    border-radius: 5px;
    outline: none;
    color: gray;
    font-size: 0.8vw;
}

.erros{
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape{
    width: 100%;
    height: 7vh;
    display:flex;
    justify-content: center;
    //align-items: center;
}
.alerta{
    width: fit-content;
    height: fit-content;
}
.alerta-vermelho{
    color: rgb(145, 0, 0);
    font-size: 0.8vw;
}


.botao {
    background: transparent;
    height: fit-content;
    padding: 3% 5%;
    width: 80%;
    font-size: 1vw; 
    border-radius: 4px;
    border: 2px solid $laranja_mais_escuro;
    outline: none;
    cursor: pointer;
}

.rodape:hover>.botao {
    animation-name: botao-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes site-fade-in{
    from{opacity:0;}
    to{opacity: 1;}
}
@keyframes botao-fade-in {
    to {
        background-color: $laranja_mais_escuro_ainda;
        font-size: 105%;
        height: 100%;
        width: 100%;
        border-radius: 0 0 3px 3px;
    }
}