<div id="site" class="area-do-site">
    <div id="area-total">
        <div class="mascara-degrade">
            <div class="background"></div>
        </div>
        <div class="mascara-imagem-inteira"></div>
        <div class="conteudo">
            <div class="cabecalho">
                <img id="logotipo" src="../../../../assets/logo_cinetop.png" alt="">
            </div>
            <div class="area-da-apresentacao">
                <h1 class="texto-h1">Título chamativo legal</h1>
                <h3 class="texto-h3">Descrição maneira</h3>
            </div>
            <div class="area-dos-botoes">
                <div class="botoes">
                    <button id="botao-laranja" (click)=navegar(2)>CADASTRAR</button>
                    <button id="botao-laranja" (click)=navegar(1)>ENTRAR</button>
                </div>
            </div>
        </div>

        <div class=" rodape ">
            <div class="linha "></div>
            <div class="duvidas ">
                <h4>Dúvidas?</h4>
            </div>
            <div class="colunas ">
                <div class="coluna ">
                    <a class="link-rodape " href=" ">Perguntas frequentes - FAQ</a>
                    <a class="link-rodape " href=" ">Sobre nós</a>
                    <a class="link-rodape " href=" ">Por que Naruto é melhor que Dragon Ball?</a>
                    <a class="link-rodape " href=" ">AAAAAAAA</a>
                </div>
                <div class="coluna ">
                    <a class="link-rodape " href=" ">AAAAAAAA</a>
                    <a class="link-rodape " href=" ">AAAAAAAA</a>
                    <a class="link-rodape " href=" ">AAAAAAAA</a>
                    <a class="link-rodape " href=" ">AAAAAAAA</a>
                </div>


                <div class="coluna ">
                    <a class="link-rodape " href=" ">AAAAAAAA</a>

                    <a class="link-rodape " href=" ">AAAAAAAA</a>
                </div>
            </div>
            <div class="linha "></div>

        </div>
        <div class="footer ">
            <h5>{{title}} copyrights reserved.</h5>
        </div>
    </div>
</div>